<span id="home-anchor" class="anchor">&nbsp;</span>
<div class="container-fluid" id="home">
  <div id="myCarousel" class="carousel slide">
    {% include invitation.html %}
    <!-- Carousel items -->
    
   

    
    <div class="carousel-inner">
      <div class="item">
        <img src="http://assets.91wedding.com/17/bucket/home/1.jpg" class="cover-image">
      </div>
      <div class="item">
        <img src="http://assets.91wedding.com/17/bucket/home/2.jpg" class="cover-image">
      </div>
      <div class="item active">
        <img src="http://assets.91wedding.com/17/bucket/home/3.jpg" class="cover-image">
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
var jiathis_config={
	data_track_clickback:true,
	sm:"qzone,weixin,renren,tqq,tsohu,cqq,qq,twitter,fav,copy,tsina,t163",
	url:"http://www.hg-love.com/",
	summary:"黄禹和龚存芳要结婚啦！",
	title:"黄禹和龚存芳要结婚啦！ #黄禹和龚存芳#",
	pic:"http://assets.91wedding.com/17/photos_663_original_017_30寸油处.JPG?1401436347",
	showClose:true,
	shortUrl:false,
	hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?uid=1941922&btn=r4.gif&move=1" charset="utf-8"></script>
<!-- JiaThis Button END -->
