<div id="invitation-container">
  <div style="padding:20px 150px; " class="clearfix">
    <h4 class="pull-left color-highlight" style="font-size: 25px;">欢迎参加黄禹和龚存芳的婚礼！</h4>
    <table class="pull-right" style="margin-top:5px;">
      <tr>
        <td style="padding:0 20px 5px 0">
          <i class="icon-calendar color-highlight"></i>
          2015年01月08日(星期四) 中午11:30
        </td>
        <td style="padding:0 0 5px 0">
          <i class="icon-envelope color-highlight"></i>
          huangyu@hg-love.com
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon-map-marker color-highlight"></i>
          六安市经济技术开发区许继慎路888号 曙光铂尊酒店
        </td>
        <td>
          <i class="icon-phone color-highlight"></i>
          18605641620
        </td>
      </td>
    </table>
  </div>
</div>
