<span id="map-anchor" class="anchor">&nbsp;</span>

<div class="bg-gray">
  <div class="container" id="map" style="padding-top:30px; padding-bottom:30px;">
    <h2 class="section-title">交通地图</h2>
    <div class="row-fluid">
      <div class="span12" style="border:1px solid #ccc; padding:5px; background-color: white;">
        <!--百度地图容器-->
        <div id="dituContent"></div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12" style="margin-top: 20px;">
        <p><strong>说明：</strong></p>
        <p>
          <i class="icon-retweet"></i>
          到达<strong>火车站或客运南站</strong>的朋友，乘坐19路, 在 曙光度假村 下车；打车约11公里、20分钟、20元
        </p>
        <p>
          <i class="icon-retweet"></i>
          到达<strong>客运东站</strong>的朋友，乘坐12路, 在 裕民小区站 下车，然后乘坐19路, 在 曙光度假村站 下车；打车约4公里、6元
        </p>
        <p>
          <i class="icon-retweet"></i>
          到达<strong>六安北 高速出口</strong>的自驾朋友，向南直行9公里（沿经三路向南）
        </p>
        <p>
          <i class="icon-plane"></i>
          如有疑问请联系我们：
        </p>
        <p>
          <i class="icon-envelope"></i>
          huangyu@hg-love.com
        </p>
        <p>
          <i class="icon-signal"></i>
          18605641620（黄） 18856499964（龚）
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  function makeMarker(latitude, longitude, title, content) {
    var marker = new BMap.Marker(new BMap.Point(longitude, latitude));  //创建标注
    var label = new BMap.Label(title, {'offset': new BMap.Size(20,3)}); //创建标签

    label.setStyle({
      borderColor: "#999",
      color: "red",
      "font-weight": "bold"
    });

    marker.setLabel(label);
    var infoWindow = new BMap.InfoWindow("<b class='iw_poi_title'>" + title + "</b>"
        + "<div class='iw_poi_content'>" + content + "</div>"); //创建信息窗口
    marker.addEventListener("click", function(){this.openInfoWindow(infoWindow);});
    return marker;
  }

  function showMap(){
    var map = new BMap.Map("dituContent");
    var point = new BMap.Point({{site.wedding.map.longitude}}, {{site.wedding.map.latitude}});
    map.centerAndZoom(point, {{site.wedding.map.zoom}}); //设置地图中心坐标
    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件

    var markers = {{ site.wedding.map.markers | json }};

    for (var i = 0; i < markers.length; i++) {
      var marker = markers[i];
      map.addOverlay(makeMarker(marker.latitude, marker.longitude, marker.title, marker.content));
    }
  }
</script>
