<span id="wedding-anchor" class="anchor">&nbsp;</span>
<div class="container section" id="wedding" style="padding-top:30px; padding-bottom:50px;">
  <h2 class="section-title">婚礼喜宴</h2>
  <ul class="clearfix">
    <li>
      <img src="/images/time.png" />
      <p>2015年01月08日(星期四) 中午11:30</p>
    </li>
    <li>
      <img src="/images/place.png" />
      <p>六安市经济技术开发区许继慎路888号 曙光铂尊酒店</p>
    </li>
    <li>
      <img src="/images/email.png" />
      <p>huangyu@hg-love.com</p>
    </li>
    <li>
      <img src="/images/phone.png" />
      <p>18605641620(黄) 18856499964(龚)</p>
    </li>
  </ul>

  <div class="row-fluid">
    <div class="span7" style="text-align:center; padding-top:20px;">
      <img src="http://assets.91wedding.com/17/bucket/婚礼信息侧边_副本.png" />
    </div>
    <div class="span5">
      {% include rsvp.html %}
    </div>
  </div>
  </div>
</div>
