
/*********** bootstrap-override ************/

body {
  font-size: 14px;
  font-family:Tahoma,Verdana,STHeiTi,simsun,sans-serif;
  margin-top: 100px;
}

/* background styles */
.bg-white {
  background-color: white;
}

.bg-gray {
  background: #eee url('/images/texture-gray.png') repeat right top;
}

.color-highlight {
  color: #e64b6a;
}

::-moz-selection { background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

.center {
  text-align: center;
}

label.error {
  color: red;
  display: inline-block;
  margin-left: 5px;
}

.anchor {
  display: block;
  height: 0;
}

.thumbnail {
  background-color: white;
}

.section-title {
  color: #e64b6a;
  text-align: center;
}

.section-title:before {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 26px;
  background-image: url('/images/motif-top.png');
  background-position: 0 0;
}

.section-title:after {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 26px;
  background-image: url('/images/motif-bottom.png');
  background-position: 0 0;
}

/************* navigation styles *************/
.navigation {
  width: 100%;
  background: url('/images/header-bg.png') repeat-x right top;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  min-height: 60px;
  z-index: 1000;
  position: fixed;
  top: 0;
}

#logo {
  margin: 18px auto 0;
  font-size: 1.7em;
  color: #666;
  width: 300px;
  height: 50px;
  position: relative;
}

#logo:hover {
  text-decoration: none;
}

.navigation ul {
  list-style: none outside none;
  margin: 0;
}

.navigation ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  border-left: 1px solid #cfcfcf;
}

.navigation ul li:first-child {
  border-left: none;
}

.navigation ul li a {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #656464;
  font-size: 25px;
  display: block;
  padding: 5px 0;
}

.navigation ul li a:hover {
  color: #de4a64;
  text-decoration: none;
}

.navigation ul li.current a {
  border-bottom: 1px solid #2B2B2B;
  border-top: 1px solid #2B2B2B;
  color: #2B2B2B;
}

/************** Player ****************/
.player-play,
.player-play-gray,
.player-pause,
.player-pause-gray,
.player-stop,
.player-stop-gray {
  background-image: url('/images/music-controls.png');
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.player-play {
  background-position: -4px -3px;
  width: 18px;
  height: 18px;
}

.player-play-gray {
  background-position: -4px -24px;
  width: 18px;
  height: 18px;
}

.player-pause {
  background-position: -25px -3px;
  width: 18px;
  height: 18px;
}

.player-pause-gray {
  background-position: -25px -24px;
  width: 18px;
  height: 18px;
}

.player-stop {
  background-position: -46px -3px;
  width: 18px;
  height: 18px;
}

.player-stop-gray {
  background-position: -46px -24px;
  width: 18px;
  height: 18px;
}

/*************home pages**************/
#home {
  padding: 0;
  background-color: white;
  margin: 0 auto 20px;
  position: relative;
}

.cover-image {
  margin: 0 auto;
  width: 100%;
}

#invitation-container {
  position: absolute;
  width: 1284px;
  height: 75px;
  left: 50%;
  bottom: 0;
  margin-left: -642px;
  background-image: url('/images/board-bg.png');
  z-index: 100;
}

/*************** story ************/
#timeline-embed {
  margin-top: 20px !important;
}

/************** photos ***************/

.btn-album {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #5fc2d7;
  background-image: none;
}

.btn-album:hover {
  color: #fff;
  background-color: #5fc2d7;
  background-image: none;
}

.btn-album.active {
  color: #fff;
  background-color: #ed617b;
}

/*************** wedding ************/

#wedding {
  padding-bottom: 30px;
}

#wedding ul {
  list-style: none outside none;
  margin: 0;
  text-align: center;
}

#wedding ul li {
  display: inline-block;
  margin: 0;
  padding: 5px 20px;
  text-align: center;
}

#wedding ul li p {
  margin-top: 10px;
}

.btn-wine {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #e6e6e6;
  background-image: none;
  padding: 5px 15px;
}

.btn-wine:hover {
  color: #fff;
  background-color: #e64b6a;
}

/*************** map ************/
.iw_poi_title {
  color: #CC5522;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding-right: 13px;
  white-space: nowrap
}

.iw_poi_content {
  font: 12px arial,sans-serif;
  overflow: visible;
  padding-top: 4px;
  white-space: -moz-pre-wrap;
  word-wrap: break-word
}

#dituContent {
  width: 100%;
  height: 550px;
}

#dituContent img {
  max-width: none;
}

/*************** comments ************/

/************** footer **************/
footer {
  background-color: #e9e9e9;
  text-align: center;
  padding: 40px;
  color: gray !important;
}

footer a {
  color: gray;
}
